// ---------- mixins -----------// 

@mixin for-phones {
	@media (max-width: 480px) {
		@content;
	}
}

@mixin for-tablets {
	@media (max-width: 820px) {
		@content;
	}
}

.article__second-subtitle {
	margin-top: 45px;
	margin-bottom: 28px;
	font-weight: 700;
	font-size: 19px;
	line-height: 30px;
	color: #434141;
}

.article__additional-photo {
	display: flex;
	margin-bottom: 40px;
	flex-wrap: wrap;

	img {
		width: 100%;
		max-width: 310px;
		height: 100%;
		max-height: 225px;
		margin-bottom: 140px;
		margin-right: 41px;
		transition: all 0.2s ease 0s;

		&:hover {
			scale: 1.05;
		}
	}

	&::after {
		content: " ";
		border-bottom: 1px solid #434141;
		width: 100%;
	}
}

.article__navigation-menu {
	width: 100%;
	margin-bottom: 100px;
}

.splide-blog-item {

	.splide__track {
		width: 700px;
		margin: 0 auto;

		.splide__list {}
	}

	.splide__arrows {

		.splide__arrow {
			top: 40%;
			border-radius: 0%;
			width: 53px;
			height: 53px;

			@include for-tablets {
				top: 150%;
			}
		}

	}
}



.article__arrow.splide__slide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 80px;
	max-height: 150px;

	h3 {
		width: 100%;
		font-weight: 700;
		font-size: 23px;
		color: #4B4B4B;
		max-width: 306px;
	}

	p {
		width: 100%;
		font-size: 20px;
		color: #786D6D;
	}

}

.splide__track.splide__track--loop.splide__track--ltr.splide__track--draggable{
	width: 100%;

	.splide__list {
		width: 100%;

	}
}


.article__post-comment {
	display: flex;
	flex-direction: column;
	margin-bottom: 125px;
	height: 100%;
}

.input {
	margin-bottom: 24px;
	height: 92px;
	padding-left: 40px;
}

.article__comment {
	padding-top: 25px;
	padding-left: 40px;
	margin-bottom: 24px;
}

.article__name {}

.article__email {}

.article__website {
	margin-bottom: 31px;

}

.article__radio {}

.article__btn {
	margin-top: 31px;
}