.black {
	.logo {
		color: #303030;
	}

	.menu__navigation {

		.menu__item {
			a {
				color: #303030;

				img {
					filter: invert(1);
				}
			}
		}
	}
}

.shop__columns {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.shop__goods-area {
	height: 100%;
	width: 72%;
}

.shop__sort-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 55px;
	font-size: 18px;
	color: #7E7E7E;
}

.results-quontity {}

.results-sort {
	display: flex;

	a {
		display: inline-block;
		border-top: 2px solid #303030;
		border-right: 2px solid #303030;
		border-radius: 2px;
		width: 12px;
		height: 12px;
		transform: rotate(134.5deg);
		align-self: center;
		margin-left: 15px;
	}
}

.shop__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item {
	width: 29%;
	margin-bottom: 25px;
}

.item__link {}

.item__photo {
	margin-bottom: 17px;
}

.item__name {
	color: #303030;
	text-align: center;
	font-weight: 700;
	font-size: 19px;
}

.item-rating {
	display: flex;
	justify-content: center;
}

.rating-star {
	margin-top: 17px;
	margin-bottom: 17px;
}

.item__price {
	text-align: center;
	font-size: 19px;
	color: #6B6B6B;
}

.shop__goods-pages {
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 25px;
	margin-bottom: 110px;

}

.shop__page-list {
	width: 100%;
	max-width: 290px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		color: #303030;

		&:last-child {
			display: block;
			border-top: 2px solid #303030;
			border-right: 2px solid #303030;
			border-radius: 2px;
			width: 12px;
			height: 12px;
			transform: rotate(45deg);
		}
	}


}

.page {}

.all-page {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #6B6B6B;
}

.shop__goods-filter {}

.search-form__form {
	height: 100%;
	max-height: 71px;
	width: 100%;
	max-width: 320px;

}

.search-form__input {
	height: 100%;
	max-width: 320px;
	max-height: 71px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	padding-left: 25px;
}

.filter__filter {
	margin-top: 50px;
	ul{
		margin-top: 40px;
	}
}


.filter__category-title {
	p {
		font-weight: 700;
		font-size: 23px;
	}
}

.filter__category-item {
	margin-top: 32px;
	a {
		font-size: 19px;
		color: #7E7E7E;
	}
}

.filter__range-form {}

.filter__range-input {}

.filter-btn {}